// Заголовки, загальні БЕМ блоки та інше...
.section-header{
	&__label {
		transform: translate(0px, rem(100));
		opacity: 0;
		transition: all 1s;
		line-height: math.div(31, 25);
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 32, 15);
	}
	.previous-section & {
		transform: translate(0px, rem(-100));
	}
	.next-section & {
		transform: translate(0px, rem(100));
	}
.active-section & {
	opacity: 1;
	transform: translate(0px, 0px);
}
	}
	&__title {
		transform: translate(0px, rem(100));
		opacity: 0;
		transition: all 1s;
		@include adaptiveValue("font-size", 60, 35);
		line-height: math.div(75, 60);
		font-weight: 700;
		color: $darkColor;
		max-width: rem(480);
		&:not(:last-child) {
			margin-bottom: em(32, 60);
			@media (min-width: $mobile){
					margin-bottom: em(132, 60);
			}
		}
		&_big {
			max-width: rem(890);
		}
		.previous-section & {
			transform: translate(0px, rem(-100));
		}
		.next-section & {
			transform: translate(0px, rem(100));
		}
		.active-section & {
			opacity: 1;
			transform: translate(0px, 0px);
		}
	}
	&__text {
		line-height: math.div(45, 25);
		max-width: rem(540);
	}
	&_lite {
		.section-header__text{
			color:#E3E6EC;
		}
		.section-header__title{
			color: white;
		}
	}
}
.title {
	font-weight: 700;
	@include adaptiveValue("font-size", 30, 20);
	line-height: math.div(38, 30);
	color: $darkColor;
}

.text {
	line-height: math.div(45, 25);
}

.services {
	display: grid;
	@include adaptiveValue("gap", 60, 30);
	&__item {
		display: flex;
		align-items: center;
		@include adaptiveValue("gap", 50, 10);
		@media (max-width:$mobileSmall) {
			flex-direction: column;
			align-items: flex-start;
		}
	}
&__icon {
flex: 0 0 rem(60);
height: rem(60);
img {
	max-width: 100%;
}
	}
&__title {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 32, 15);
	}
	}
	&__text {
		line-height: math.div(45, 25);
	}
}
